.game-screen-div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #353333;
}

.poker-table {
    /* background-image: url('../../../public/assets/table.jpg'); */
    width: 60%;
    height: 400px;
    border-radius: 250px;
    background-size: 100% 100%;
    border: 30px solid #640a0a;
}