.options{
    background-color: #aba8a847;
    margin: 10px;
    padding: 10px;
    width: 60%;

}
.option-ctn{
    height: 10%;
    display: flex;
    justify-content: space-around;
}
.option-view {
    height: 90%;
}
    